.intro {
    width: 1017px;
    margin: 92px auto 92px;
}

.intro__title {
    width: 1017px;
    margin: 0 0 40px;
    color: #FFF;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
}

.intro__text {
    width: 722px;
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.intro__author {
    width: 722px;
    margin:0 0 32px;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-align: justify;
}

.intro__presentation {
    width: 722px;
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.63;
    text-align: justify;
}